<%- include('header') -%>

<h1>Staðan í deildinni</h1>

<table>
    <tr>
      <th>Lið</th>
      <th>Skor</th>
    </tr>
  <% for (const stada of locals.stada) { %>
    <tr>
      <td><%= stada.name %></td>
      <td><%= stada.points %></td>
    </tr>
  <% } %>
</table>

<%- include('footer') -%>
